@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

:root {
    --eerie-black: #1D1D1D;
    --moonstone: #56A3BB;
    --white: #fff;
    --black: #000;
}

/* Nav */
nav {
    z-index: 1;
}

nav #logo {
    height: 2rem;
}

/* Header */
header #carouselAutoplaying {
    width: 100%;
    position: absolute;
    top: 0;
}

header img {
    max-height: 700px; 
    width: auto;
    object-fit: cover; 
    object-position: top;
}

/* About section */


/* Featured Section */


/* Form Section */


/* Footer */