@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

* {
    font-family: 'Cabin', sans-serif;
}


:root {
    --eerie-black: #1D1D1D;
    --eerie-black2: #272727;
    --moonstone: #56A3BB;
    --white: #fff;
    --black: #000;

}

/* Nav */
nav {
    z-index: 2;
}

nav #logo {
    height: 2rem;
}

.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: var(--eerie-black2);
}



/* Carousel */
#carouselAutoplaying {
    background-color: var(--eerie-black);
    width: 100%;
    z-index: 1;
}

/* Main */
main {
    background-color: var(--eerie-black);
}

main h1 {
    font-weight: 600;
    font-size: 2rem;
}

/* About section */
.card .card-header {
    background-color: var(--moonstone);
}

/* Form Section */
.form-section .btn{
    background-color: var(--moonstone);
}


/* Footer */
.footer-container {
    background-color: var(--moonstone);
    height: 6rem;
}

.social-media a i {
    color: white; 
    font-size: 1.7rem;
  }

.footer-container p {
    font-size: 1.2rem;
    cursor: pointer;
}

.custom-popover .popover-header {
    background-color: var(--moonstone); 
    color: #ffffff; 
}


/* Media Queries */
@media only screen and (min-width: 300px) {
    .navbar,
    .featured-section,
    .form-section {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    main h1 {
        font-weight: 600;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 768px) {
    .navbar,
    .about-section,
    .featured-section,
    .form-section {
        padding-left: 2rem;
        padding-right: 2rem;
    }  
    
    .featured-section .card {
        width: 20rem;
    }
}

@media only screen and (min-width: 1024px) {
    .navbar,
    .about-section,
    .featured-section,
    .form-section {
        padding-left: 7rem;
        padding-right: 7rem;
    }   

    main h1 {
        font-weight: 600;
        font-size: 2rem;
    }
}


@media only screen and (min-width: 1440px) {
    .navbar,
    .about-section,
    .featured-section,
    .form-section {
        padding-left: 12rem;
        padding-right: 12rem;
    }   

    .navbar {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    .featured-section .card {
        width: 15rem;
    }
}
