@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

:root {
    --eerie-black: #1D1D1D;
    --moonstone: #56A3BB;
    --white: #fff;
    --black: #000;
}

/* Nav */
nav #logo {
    height: 2rem;
}


/* Header */


/* About section */


/* Featured Section */


/* Form Section */


/* Footer */